<!-- <header class="header">
    <div>
        <div class="header-left">
            <h2 class="logo">📂 DMS</h2>
        </div>

        <div class="header-center">
            <input type="text" placeholder="Search files, folders..." class="search-input" />
        </div>

        <div class="header-right">
            <div class="profile">
                <img src="https://via.placeholder.com/35" alt="profile" />
                <span>John</span>
            </div>
        </div>
    </div>
</header> -->

<header class="header">
  <!-- Left: Logo -->
  <div class="header-left">
    <div class="logo-box">📂</div>
    <h2 class="logo-text">DMS</h2>
  </div>

  <!-- Center: Search -->
  <div class="header-center">
    <div class="search-box">
      <span class="search-icon">🔍</span>
      <input type="text" placeholder="Search files, folders..." />
    </div>
  </div>

  <!-- Right: Profile -->
  <div class="header-right">
    <!-- <div class="icon-btn">🔔</div> -->
    <div class="profile">
      <img src="https://i.pravatar.cc/40" alt="profile" />
      <span>John</span>
    </div>
  </div>
</header>